# LAN Monitor config file - 3.0

# Core tool params
ServiceLoopTime             10s         # Wait time between main loops.  Set to a fraction of the shortest item check interval.
nRetries                    3           # Num times to try to read an item before erroring
RetryInterval               1s          # Wait time between failed item reads
#ssh_timeout                 3s          # Max time for ssh connections to non-local hosts
StartupDelay                30s         # Wait time when starting in service mode to allow everything to come up fully at system boot
DailyRuntime                8:00        # Run time for monitor items that run at daily or longer check intervals (optional)
Gateway                     192.168.1.1 # IP or Hostname used for checking for network access as a gate for checks on non-local hosts
LogLevel                    30          # Logging module levels: 10:DEBUG, 20:INFO, 30:WARNING (default), 40:ERROR, 50:CRITICAL
LogFile                     log_lanmonitor.txt  # Absolute or relative (to script directory) path
PrintLogLength              40          # Number of LogFile tail lines to print
ConsoleLogFormat            {levelname:>8}:  {message}
#ConsoleLogFormat            {module:>15}.{funcName:20} - {levelname:>8}:  {message}          # Default
#FileLogFormat               {asctime} {module:>15}.{funcName:20} {levelname:>8}:  {message}  # Default


Notif_handlers          stock_notif 	# Whitespace separated list of notification handlers.  Abs path, or relative to lanmonitor directory.

# stock_notif handler params
CriticalReNotificationInterval   2h     # Wait time for critical event notification message resend
SummaryDays                 6 2 4       # Days of week: 1 = Monday, 7 = Sunday.  Comment out to disable summaries.
SummaryTime                 8:05        # 24 hour clock
LogSummary                  True        # If True, force logging of summary


# Monitor types and items
MonType_SELinux         selinux_plugin
SELinux_local               local           CRITICAL    1m      enforcing       # permissive

MonType_Host            pinghost_plugin
#pinghost_plugin_timeout 5s
Host_Printer_Server         local           CRITICAL    1m      192.168.1.44

MonType_Service         service_plugin
Service_lanmonitor          local                       1d      lanmonitor      # Kept for interactive checking
Service_routermonitor       local                       5m      routermonitor 
Service_wanstatus           local                       5m      wanstatus
Service_httpd               local           CRITICAL    30s     httpd 
Service_firewalld           local           CRITICAL    30s     firewalld 
Service_smb                 local           CRITICAL    30s     smb 
Service_sshd                local           CRITICAL    30s     sshd
Service_mariadb             local           CRITICAL    30s     mariadb
Service_RPi1_cups           me@RPi1.lan     CRITICAL    1m      cups

MonType_Page            webpage_plugin
Page_WeeWX                  local                       1m      http://localhost/weewx/ Current Conditions
Page_xBrowserSync           me@RPi2.lan                 30m     https://www.xbrowsersync.org/   Browser syncing as it should be: secure, anonymous and free! # Check it out!

MonType_YumUpdate       yum_update_history_plugin
YumUpdate_Shop2             local                       1d      35d  update

MonType_AptUpgrade      apt_upgrade_history_plugin
AptUpgrade_rpi3             pi@RPi3.lan                 1d      35d  apt full-upgrade

MonType_Free            freespace_plugin
Free_Share                  local                       1h      20%  /mnt/share
Free_vol2                   local                       1h      20%  /mnt/vol2

MonType_Process         process_plugin
Process_x11vnc              local                       1m      /usr/bin/x11vnc

MonType_Activity        fsactivity_plugin
Activity_MyServer_backups   local                       1d      8d   /mnt/share/MyServerBackups
Activity_RPi2_log.csv       pi@rpi2.lan                 5m      20m  /mnt/RAMDRIVE/log.csv


# Email and Notification params
[SMTP]
import                      creds_SMTP              # Provides EmailServer, EmailServerPort, EmailUser, EmailPass, EmailFrom
NotifList                   4805551234@vzwpix.com   # For notifications - One or more addresses, whitespace separated.  Use your carrier's email-to-text bridge address.  Regular email addresses may be used.
EmailTo                     your.email@gmail.com    # For perodic summaries - One or more addresses, whitespace separated.
#EmailVerbose               True                    # True: enable the emailer debug level
#DontEmail                  True                    # True: Emails (including notifications) will NOT be sent
#DontNotif                  True                    # True: Notifications will not be sent
